/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  Reset all styling:
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Begin*/
p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}

body {
  /*background-color: #191919;*/
  background-color: white;
}

em {
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

a:hover {
  color:yellow;
  -webkit-transition: color 0.7s ease-out;
  -moz-transition: color 0.7s ease-out;
  -o-transition: color 0.7s ease-out;
  -ms-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}

/*end clearfix*/

/*Begin Style:*/
body {
  background-color: #212121;
  font-family: Europa, "Helvetica", sans-serif;
  font-color: white;
}

footer {
  font-size: 12px;
  color: white;
  margin-left: 100px;
  padding: 20px;
  font-weight: 200;
}
.container {
  /*font-family: "Oxygen", "Helvetica", sans-serif;*/
  
  font-weight: 400;
  font-size: 25px;
  margin: 100px;
  height: 400px;
}

.content {
  padding: 20px;
  line-height: 40px;
  color: white;
}



